[Unit]
Description=Flask Application

[Service]
EnvironmentFile=/opt/flask-app/venv/bin/activate
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && source ~/.bashrc && source ./venv/bin/activate && python gunicorn --bind=0.0.0.0 application:app'

[Install]
WantedBy=multi-user.target
